Source: jupyterhub
Maintainer: Trax DevOps <devops@traxtech.com>
Section: python
Priority: optional
Build-Depends: python3, dh-virtualenv, dh-exec
X-Python3-Version: >= 3.4
Standards-Version: 3.9.6

Package: jupyterhub
Architecture: any
Depends: ${misc:Depends}, ${python:Depends}, ${shlibs:Depends}, npm, python3
Provides: ${python:Provides}
Description: JupyterHub allows you to manage ipython notebooks
 With JupyterHub you can create a multi-user Hub which spawns, manages, and
 proxies multiple instances of the single-user Jupyter notebook (IPython
 notebook) server.
