#!/usr/bin/make -f
PYVERS = 3.4

%:
	dh $@ --python=/usr/bin/python3.4 --with python-virtualenv

override_dh_virtualenv:
	dh_virtualenv --python=/usr/bin/python3.4 --no-test
	find $(CURDIR)/debian/jupyterhub/ -name *.egg-link -exec sed -i 's/^.*debian\/jupyterhub//g' {} \;
	find $(CURDIR)/debian/jupyterhub/ -name easy-install.pth -exec sed -i 's/^.*debian\/jupyterhub//g' {} \;
	find $(CURDIR)/debian/jupyterhub/ -name RECORD -exec sed -i 's/^.*debian\/jupyterhub//g' {} \;
	find $(CURDIR)/debian/jupyterhub/ -name *.pyc -exec rm {} \;
